
.column{
    background:yellow;
}
.relative {
    position: relative;
    width: 450px;
    height: 310px;
    background: red;
    color: white;
    top:70px;
    left:0px;
}

.box {
    position: relative;
    left:0px;
    top: 54px;
    width:1060px;
    height:500px;
    background: green;
    text-transform: uppercase;
}

footer{
    position:relative;
    left:455px;
    top:600px;
    height:108px;
    width:1060px;
    background: blue;

}

.column{
    float: left;

}
.column-1{

    width: 100px;
    height: 80px;

}
.column-2{
    width: 1000px;
    height: 80px;
}



.outer {
    width: 500px;
    height: 300px;
    overflow: scroll;
    padding-left: 150px;
}

.column-1{
    width:30%

}
.column-2{
    width:70%
}

p {
    color: rgb(250, 2, 250);
}
